* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.card {
    background-color: #15263F;
}

.card__title {
    font-weight: 300;
    font-size: 18px;
    color: white;
}

.card__body {
    font-weight: 300;
    font-size: 18px;
    color: #8BACD9;
}

.card__value {
    color: #00FFF8;
    font-weight: 600;
    font-size: 15px;
}

.card__time {
    color: #8BACD9;
    font-weight: 500;
    font-size: 15px;
}